---
// Supports weights 100-900
import "@fontsource-variable/inter";
import "../styles/global.css";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Login</title>
  </head>
  <body>
    <div
      class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
    >
    </div>
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    font-family: "Inter Variable", sans-serif;
  }
</style>
